:root{
  --blue: #6b91e9;
  --black: #444;
  --light-color: #777;
  --background: linear-gradient( black, rgba(0, 0, 0, 0.87));
  --bg-color: #e6e6e6;
  --border: .1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
  --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset;
  --box-shadow-length: .5rem .5rem 1.1rem #ccc,
                -.5rem -.5rem 1.1rem #fff;
}
/* root   end */
.stars {
  background-color: whitesmoke;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  position: fixed;
}
.star-1 {
  margin-top: 1%;
  margin-left: 10%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  margin-top: 1%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-3 {
  margin-top: 10%;
  margin-left: 85%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-4 {
  margin-top: 12%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-5 {
  margin-top: 5%;
  margin-left: 30%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-6 {
  margin-top: 9%;
  margin-left: 40%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-7 {
  margin-top: 7%;
  margin-left: 75%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-8 {
  margin-top: 11%;
  margin-left: 51%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-9 {
  margin-top: 14%;
  margin-left: 85%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-10 {
  margin-top: 3%;
  margin-left: 78%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-11 {
  margin-top: 11%;
  margin-left: 41%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-12 {
  margin-top: 3%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-13 {
  margin-top: 2%;
  margin-left: 65%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-2 {
  margin-top: 21%;
  margin-left: 89%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-14 {
  margin-top: 15%;
  margin-left: 33%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-15 {
  margin-top: 12%;
  margin-left: 72%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-16 {
  margin-top: 4%;
  margin-left: 92%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-17 {
  margin-top: 3%;
  margin-left: 44%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-18 {
  margin-top: 2%;
  margin-left: 75%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-19 {
  margin-top: 3%;
  margin-left: 41%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-20 {
  margin-top: 1%;
  margin-left: 60%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-21 {
  margin-top: 5%;
  margin-left: 15%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-22 {
  margin-top: 3%;
  margin-left: 20%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-23 {
  margin-top: 6%;
  margin-left: 13%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-24 {
  margin-top: 13%;
  margin-left: 13%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}
.star-25 {
  margin-top: 18%;
  margin-left: 11%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}


@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
/* asterix start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s linear;
}
/* asterix ends */

/* html start */
html{
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-behavior: smooth;
}
/* html end */
/* body starts */
body{
  background: var(--bg-color);
  padding-left: 30rem;
  /* margin: 5rem; */
}
body.active{
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  /* background: var(--background); */
  --border: .1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: .4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
  --box-shadow-inset: .4rem .4rem 1rem #111 inset,
                -.4rem -.4rem 1rem #333 inset;
}
/* header */
.header{
  width: 30rem;
  border-right: var(--border);
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  height: 100%;
  padding: 2rem;
  background: var(--bg-color);
  /* background: var(--background); */
  text-align: center;
}
/* header image */
.header .user img{
  margin: 1rem 0;
  border: 1rem solid transparent;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  box-shadow: var(--box-shadow);
  transition: 1s;

}
/* header img:hover */
.header .user img:hover{
  width: 19rem;
  box-shadow: var(--box-shadow-length);
  height: 19rem;
}
/* header h3 */
.header .user h3{
  color: var(--black);
  font-size: 2.5rem;

}
/* header p */
.header .user p{
  color: var(--blue);
  font-size: 1.5rem;
  
}
/* header navbar */
.header .navbar a{
  color: var(--black);
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  margin: 2.5rem 0;
  padding: .7rem;
  border-radius: 5rem;
  display: block;
  color: var(--black);
  transition: 1s;
}
/* header a:hover */
.header .navbar a:hover{
box-shadow: var(--box-shadow-inset);
}

/* navbar */
.navbar a{
  color: var(--blue);
}
/* menu-button */
#menu-btn{
  box-shadow: var(--box-shadow);
  position: fixed;
  cursor: pointer;
  top: 1.5rem;
  left: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  z-index: 1000;
  text-align: center;
  color: var(--black);
  display: none;
  background: var(--bg-color);

}
#menu-btn:hover{
  color: var(--blue);
  box-shadow: var(--box-shadow-inset);
}
#color-toggler{
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 1.5rem;
  right: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  opacity: 10rem;
}
#color-toggler:hover{
  color: var(--blue);
  box-shadow: var(--box-shadow-inset); 
}
/* home styling */
section{
  min-height: 100vh;
  padding: 2rem;
}
.home{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .text-content h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 5.5em;
color: var(--black);
line-height: 1.2;
text-transform: uppercase;
}
.home .text-content p{
  font-family: sans-serif;
font-size: 3em;
color: var(--blue);
padding-bottom: 5rem;
}
.button{
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3.5rem;
  display: inline-block;
  border-radius: 10px;
  margin: 1rem;
  color: var(--black);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  /* transition: 3s; */
}
.button:hover{
  box-shadow: var(--box-shadow-inset);
  color: var(--blue);
  font-weight: bold;
}
.home .share-me{
padding: 1rem;
box-shadow: var(--box-shadow);
border-radius: 10px;
top: 6rem;
position: relative;
}
.home .share-me a{
color: var(--black);
font-size: 2rem;
margin: .5rem;
box-shadow: var(--box-shadow);
line-height: 5rem;
width: 5rem;
height: 5rem;
}
.home .share-me a:hover{
  box-shadow: var(--box-shadow-inset);
  color: var(--blue);
}
/* about me styling */
.myHeading{
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  color: var(--black);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.myHeading span{
  text-transform: uppercase;
  color: var(--blue);
  font-family: Georgia, 'Times New Roman', Times, serif;

}
/* about me styling//// */
.about .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}
.about .row .box-container{
flex: 1 1 40rem;
display: flex;
gap: 1.5rem;
flex-wrap: wrap;
}
.about .row .box-container .box{
  flex: 1 1 18rem;
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}
.about .row .box-container .box h3{
  font-size: 4rem;
  color: var(--blue);
  transition: 3s;
  line-height: 1.1;
}
.about .row .box-container .box h3:hover{
  font-size: 4.2rem;
  color: var(--blue);
}
.about .row .box-container .box p{
  font-size: 1.5rem;
  color: var(--light-color);
  padding: .5rem 0;
}

.about .row .box-content{
  flex: 1 1 40rem;
  text-align: center;
  border-left: var(--border);

}
.about .row .box-content h3{
  font-size: 2.5rem;
  color: var(--black);
  line-height: 1.8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .row .box-content h3 span{
  color: var(--blue);
}
.about .row .box-content p{
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
  font-weight: bold;
}
/* progrrerss bars */
.about .row:nth-child(3){
  padding-top: 2rem;
}

.about .row .progress{
  flex: 1 1 40rem;

}
.about .row .progress h3{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 1.8rem;
font-weight: normal;
color: var(--black);
}
.about .row .progress .bar{
  box-shadow: var(--box-shadow);
  margin: 1rem 0;
  height: 2rem;
  padding: .3rem;
  border-radius: 5rem;
}
.about .row .progress .bar span{
display: block;
height: 100%;
background: var(--blue);
border-radius: 5rem;
}
.about .row .progress .bar-1-1 span{
 width: 90%;
}
.about .row .progress .bar-1-2 span{
  width: 60%;
}
.about .row .progress .bar-1-3 span{
  width: 80%;
}
.about .row .progress .bar-2-1 span{
  width: 90%;
}
.about .row .progress .bar-2-2 span{
  width: 85%;
}
.about .row .progress .bar-2-3 span{
  width: 70%;
}

 .portfolio .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}
.portfolio .box-container .box{
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border-radius: 5rem;
  height: 25rem;
  border: 1rem solid transparent;
  position: relative;
}
.portfolio .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
  display: grid;
  place-items: center;
  transform: scale(0);
}
.portfolio .box-container .box:hover .content{
  transform: scale(1);
}
.portfolio .box-container .box .content h3{
  font-size: 2.5rem;
  color: var(--blue);
  text-transform: uppercase;
  transform: translateY(-5rem);
  opacity: 0;
 transition-delay: .3s;
}
.portfolio .box-container .box:hover .content h3{
  transform: translateY(0rem);
  opacity: 1;
}
/* contact */
.contact form{
padding: 2rem;
box-shadow: var(--box-shadow);
border-radius: .5rem;
max-width: 70rem;
margin: 1rem auto;
}
.contact form .box{
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  margin: 0.7rem 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--black);
  background: none;
  padding: 1rem 1.5rem;
  width: 100%;
  font-weight: bold;
  /* transition: all 2s; */
}

.contact form .box:focus{
  box-shadow: var(--box-shadow-inset);
}
.contact form textarea{
height: 21rem;
resize: none;
}

#textArea{
  text-transform: capitalize;
}





@media only screen and (max-width: 991px) {
  html{
    font-size: 55%;
  }
  .stars{
    display: none;
  }
  .header{
    top: -210%;
  }
  .header.active{
    top: 0%;
    transition: .4s linear;
  }
 
  body{
    padding-left: 0;
  }
  #menu-btn{
    display: initial;
    /* left: 0rem;
    right: 0rem; */
  }
.about .row .box-content{
  border-left: 0;
}
/* services */
}

@media only screen and (max-width: 450px) {
  html{
    font-size: 50%;
  }
  .header{
    width: 100%;
    border-right: 0;


    
  }

}












